sudo: false
language: node_js
node_js:
  - "8"
  - "9"

install: yarn install
script: yarn run test

deploy:
  provider: npm
  email: reto@retokaiser.com
  api_key:
    secure: "R9GW8SxwE/Fgr2cSHBHtk6bI7FFWrWzrqe4pRrd2depkegTGO1Ab7nItP0TTyrX8rv2+plJ1Q07nVjBadT9WaAn6LJriND/k1oTE6vQM1/xvmsvJsX0GkzUGff06p45S+3ki2WVN6RvskTBuhP6rj8cKMgsy6CfTRVkoQiCXUXI9NqiEYuIV3TlKVUhuw3YYDkgmK0GU2QjvssHgIxsuj1oLu2Odk1hkwrGSbl/Q3sy6dmIzfvMSR5ITbUza2MIbka618XX21l4SGk5ptpB4Y1oRkU96l78iKWY8zFjfpqnDopZUbFlsFRvDKrtcspuKgwr/18xtiTJBbnCY9LK0b56BcZ9toL9J5nIovmfdn/Npc5mw1xpA1HPm6ny1DbHAfjcXOwt6JIf7EjtJoAeD36lnkSGslTIfAafRrwPDpXKDw36OQ1QZ42mtIGJlkd/i/yMvXAvMLj5OcMNe7oysFLKKVtJGhdnoEpcY4WRwmJ5gly8d0ccI59BPMwiJwYe9bsjzZPLzZzQQ79DpF3lNXXiBt4KDxT8ZvSJHFSNrwtDIDjXRRSzCna9Jp/1ThWWBn1gWZrVyLH4LwQTgcHQnAwQK1ypshpLOULZurhgOEYGk3jVlRahj18P3xilMYqU3GqYTvOwE7+frwGqvbrp5TCMUaPZboqki+klXBUCAfOI="
  on:
    tags: true
    repo: njam/nuxt-i18n-module

notifications:
  email: false
